node_modules/
android/.gradle/
android/app/build/
android/build/
.DS_Store
*.iml
local.properties
release*/
.signing/
android/keystore.properties
android/app/keystore/
ios/App/build/
ios/App/DerivedData/
